// fonts
$font-primary: 'Open Sans', sans-serif;

// colors
$color-primary: #ffffff;
$color-secondary: #53cf92;
$color-tertiary: #434e66;

// box shadows
$shadow-primary: 0 1px 3px 2px rgba(0, 0, 0, 0.05);
